<div>
  <h3>{{ section.settings.new-to-cbd-heading }}</h3>
  <h2>{{ section.settings.new-to-cbd-sub-heading }}</h2>
  <p>{{ section.settings.new-to-cbd-description }}</p>
  <div>
    {% for block in section.blocks %}
      <img src={{ block.settings.new-to-cbd-image | img_url: 'master' }} />
      <span>{{ block.settings.new-to-cbd-image-heading }}</span>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "New to CBD",
    "settings": [
      {
        "type": "text",
        "label": "New to CBD header",
        "id":"new-to-cbd-heading"
      },
      {
        "type": "text",
        "label": "New to CBD sub header",
        "id":"new-to-cbd-sub-heading"
      },
      {
        "type": "richtext",
        "label": "New to CBD description",
        "id":"new-to-cbd-description"
      }
    ],
    "blocks": [
    {
      "type": "image",
      "name": "New to CBD image",
      "settings": [
      {
        "type": "image_picker",
        "label": "Select image",
        "id": "new-to-cbd-image"
      },
      {
        "type": "text",
        "label": "New to CBD image header",
        "id":"new-to-cbd-image-heading"
      }
      ]
    }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
