<div class="container">
  <div class="new-to-cbd">
    <div class="new-to-cbd--header">
      <h3 class="new-to-cbd--heading h3-heading">{{ section.settings.new-to-cbd-heading }}</h3>
      <h2 class="new-to-cbd--subheading h2-heading">{{ section.settings.new-to-cbd-sub-heading }}</h2>
      <div class="new-to-cbd-description description">{{ section.settings.new-to-cbd-description }}</div>
    </div>
    <div class="new-to-cbd--content">
      {% for block in section.blocks %}
      <div class="new-to-cbd--content--item">
        <img src={{ block.settings.new-to-cbd-image | img_url: 'master' }} />
        <span>{{ block.settings.new-to-cbd-image-heading }}</span>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "New to CBD",
    "settings": [
      {
        "type": "text",
        "label": "New to CBD header",
        "id":"new-to-cbd-heading"
      },
      {
        "type": "text",
        "label": "New to CBD sub header",
        "id":"new-to-cbd-sub-heading"
      },
      {
        "type": "richtext",
        "label": "New to CBD description",
        "id":"new-to-cbd-description"
      }
    ],
    "blocks": [
    {
      "type": "image",
      "name": "New to CBD image",
      "settings": [
      {
        "type": "image_picker",
        "label": "Select image",
        "id": "new-to-cbd-image"
      },
      {
        "type": "text",
        "label": "New to CBD image header",
        "id":"new-to-cbd-image-heading"
      }
      ]
    }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
